<!DOCTYPE html>
<html lang="en">
<head>
	<style>
body {
  background-color: linen;
}

tr{
  color: maroon;
  width: 40px;
}
</style>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div style="height: 100px;
  width: 200px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 28%;
  margin-top: -30px;">
<table>
<tr style="width: 100px">
<div>Task updation:</div></tr><br><br>
<div class="container">
<form class="form-inline" action="/update" method="POST">
    <tr style="width: 40px;"><div class="form-group">
      Taskname:
      <input type="text" class="form-control" id="name" placeholder="Enter Username" value={{data[0][0]}} name="name">
    </div><br><br></tr>
    <tr style="width: 40px;"><div class="form-group">
      Due Date:
      <input type="Date" class="form-control" id="date" placeholder="Enter Password" value={{data[0][1]}} name="date">
    </div><br><br></tr>
    Status:
      <select name="status" class="form-control">
          <option value="Not Started">Not Started</option>
          <option value="In Progress">In progress</option>
          <option value="Finished">Finished</option>
      </select>
    </div><br></tr>
    <tr style="width: 40px;"><div class="form-group">
      Description:
      <input type="text" class="form-control" id="desc" placeholder="Enter Description" value={{data[0][3]}} name="desc">
    </div><br><br></tr>
    <tr style="width: 40px;"><div class="form-group">
      Task id:
      <input type="text" class="form-control" id="desc" placeholder="Enter Task id" value={{data[0][4]}} name="id">
    </div><br><br></tr>
    <tr style="width: 40px;"><button style="padding-left: 10px" type="submit" class="btn btn-default">Update Task</button><br></tr>
  </form>
  
</div>
</div>
</table>
</body>
</html>
